body {
    background: url(https://www.litorehotel.com/web/ru/images/placeholders/1920x1200-0.jpg) no-repeat center center fixed;
    background-size: cover;
}

#form1 {
    color: black;
    margin-top: 2%;
    margin-left: 35%;
    margin-right: 47%;
    background-color: white;
}
